In [21]:
!python --version

Python 3.8.16

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
from sklearn.metrics import mean_squared_error

Loading the database.

In [24]:
from google.colab.data_table import DataTable
DataTable.max_columns = 30
train_df = pd.read_csv('train.csv', dtype={'solvent':object,'ligands':object,'DOI':object})

In [25]:
train_df

,chem formula,DOI,Pb_mmol,Yb_mmol,Yb/Pb,ligands,OlAm_mL,OlAc_mL,OlAm/OlAc,temperature_°C,...,precursor A,precursor B,precursor La,precursor X,"Abs, nm","Vis PL, nm","NIR PL, nm","Vis QY, %",NIR QY_%,size_nm
0,CsPbCl3:Yb,10.1039/c8tc03957g,0.12,0.38,3.06,OlAm/OA,2.00,2.00,1.00,260,...,Cs,Pb,Yb,Cl,395.00,410,986.00,7.70,120.10,10.00
1,CsPbCl3:Yb,10.1021/acs.nanolett.8b05104,0.20,0.08,0.40,OlAm/OA,0.50,1.00,0.50,240,...,Cs,Pb,Yb,Cl,375.00,410,979.00,NaN,114.00,14.10
2,CsPbCl3:Yb,10.1021/acs.nanolett.8b01066,0.20,0.16,0.80,OlAm/OA,0.50,1.00,0.50,240,...,Cs,Pb,Yb,Cl,400.00,410,990.00,0.70,170.00,16.00
3,CsPbCl3:Yb,10.1021/acs.nanolett.7b04575,0.38,0.19,0.50,OlAm/OA,1.00,1.00,1.00,240,...,Cs,Pb,Yb,Cl,NaN,400,982.00,NaN,142.70,6.30
4,CsPbCl3:Mn(2.17)/Yb,10.1002/advs.202001317,0.20,0.02,0.10,OlAm/OA,1.00,0.50,2.00,200,...,Cs,Pb,Yb,Cl,390.00,405,NaN,1.20,32.50,7.80
5,CsPbCl3:Mn(1.45)/Yb,10.1002/advs.202001317,0.20,0.04,0.20,OlAm/OA,1.00,0.50,2.00,200,...,Cs,Pb,Yb,Cl,390.00,405,NaN,0.90,64.60,7.50
6,CsPbCl3:Mn(1.3)/Yb,10.1002/advs.202001317,0.20,0.06,0.30,OlAm/OA,1.00,0.50,2.00,200,...,Cs,Pb,Yb,Cl,380.00,405,NaN,0.50,103.30,7.20
7,CsPbCl3:Mn(1.14)/Yb,10.1002/advs.202001317,0.20,0.08,0.40,OlAm/OA,1.00,0.50,2.00,200,...,Cs,Pb,Yb,Cl,380.00,405,NaN,0.40,66.30,6.80
8,CsPbCl3:Yb,10.1021/acs.jpcc.9b01296,0.40,0.32,0.80,OlAm/OA,1.00,2.00,0.50,240,...,Cs,Pb,Yb,Cl,NaN,410,980.00,NaN,146.00,11.00
9,CsPbCl3:Yb,10.1021/acsami.1c09421,0.20,0.09,0.45,OlAm/OA,1.00,3.00,0.33,240,...,Cs,Pb,Yb,Cl,410.00,412,976.00,NaN,110.00,NaN

In [26]:
train_df.describe()

,Pb_mmol,Yb_mmol,Yb/Pb,OlAm_mL,OlAc_mL,OlAm/OlAc,temperature_°C,time_sec,"Abs, nm","Vis PL, nm","NIR PL, nm","Vis QY, %",NIR QY_%,size_nm
count,10.00,10.00,10.00,10.00,10.00,10.00,10.00,10.00,8.00,10.00,6.00,6.00,10.00,9.00
mean,0.23,0.14,0.70,1.00,1.20,1.18,226.00,7.90,390.00,407.20,982.17,1.90,106.95,9.63
std,0.09,0.12,0.86,0.41,0.86,0.73,23.19,8.85,11.65,3.74,5.08,2.86,42.18,3.45
min,0.12,0.02,0.10,0.50,0.50,0.33,200.00,1.00,375.00,400.00,976.00,0.40,32.50,6.30
25%,0.20,0.07,0.33,1.00,0.50,0.50,200.00,1.00,380.00,405.00,979.25,0.55,75.55,7.20
50%,0.20,0.08,0.43,1.00,1.00,1.00,240.00,7.50,390.00,407.50,981.00,0.80,112.00,7.80
75%,0.20,0.18,0.73,1.00,1.75,2.00,240.00,10.00,396.25,410.00,985.00,1.12,137.05,11.00
max,0.40,0.38,3.06,2.00,3.00,2.00,260.00,30.00,410.00,412.00,990.00,7.70,170.00,16.00

Defining what is a variable and a function.

In [27]:
x = train_df[['Pb_mmol','Yb_mmol', 'OlAm_mL','OlAc_mL','temperature_°C','time_sec']]
y = train_df['NIR QY_%']

In [28]:
x.round(3)

   Pb_mmol  Yb_mmol  OlAm_mL  OlAc_mL  temperature_°C  time_sec
0     0.12     0.38     2.00     2.00             260         5
1     0.20     0.08     0.50     1.00             240         1
2     0.20     0.16     0.50     1.00             240         1
3     0.38     0.19     1.00     1.00             240        30
4     0.20     0.02     1.00     0.50             200        10
5     0.20     0.04     1.00     0.50             200        10
6     0.20     0.06     1.00     0.50             200        10
7     0.20     0.08     1.00     0.50             200        10
8     0.40     0.32     1.00     2.00             240         1
9     0.20     0.09     1.00     3.00             240         1

In [29]:
variables =pd.DataFrame({'Chemical formula':train_df['chem formula'],  'DOI':train_df['DOI']})
variables

      Chemical formula                           DOI
0           CsPbCl3:Yb            10.1039/c8tc03957g
1           CsPbCl3:Yb  10.1021/acs.nanolett.8b05104
2           CsPbCl3:Yb  10.1021/acs.nanolett.8b01066
3           CsPbCl3:Yb  10.1021/acs.nanolett.7b04575
4  CsPbCl3:Mn(2.17)/Yb        10.1002/advs.202001317
5  CsPbCl3:Mn(1.45)/Yb        10.1002/advs.202001317
6   CsPbCl3:Mn(1.3)/Yb        10.1002/advs.202001317
7  CsPbCl3:Mn(1.14)/Yb        10.1002/advs.202001317
8           CsPbCl3:Yb      10.1021/acs.jpcc.9b01296
9           CsPbCl3:Yb        10.1021/acsami.1c09421

In [30]:
variables.join(x)

,Chemical formula,DOI,Pb_mmol,Yb_mmol,OlAm_mL,OlAc_mL,temperature_°C,time_sec
0,CsPbCl3:Yb,10.1039/c8tc03957g,0.12,0.38,2.00,2.00,260,5
1,CsPbCl3:Yb,10.1021/acs.nanolett.8b05104,0.20,0.08,0.50,1.00,240,1
2,CsPbCl3:Yb,10.1021/acs.nanolett.8b01066,0.20,0.16,0.50,1.00,240,1
3,CsPbCl3:Yb,10.1021/acs.nanolett.7b04575,0.38,0.19,1.00,1.00,240,30
4,CsPbCl3:Mn(2.17)/Yb,10.1002/advs.202001317,0.20,0.02,1.00,0.50,200,10
5,CsPbCl3:Mn(1.45)/Yb,10.1002/advs.202001317,0.20,0.04,1.00,0.50,200,10
6,CsPbCl3:Mn(1.3)/Yb,10.1002/advs.202001317,0.20,0.06,1.00,0.50,200,10
7,CsPbCl3:Mn(1.14)/Yb,10.1002/advs.202001317,0.20,0.08,1.00,0.50,200,10
8,CsPbCl3:Yb,10.1021/acs.jpcc.9b01296,0.40,0.32,1.00,2.00,240,1
9,CsPbCl3:Yb,10.1021/acsami.1c09421,0.20,0.09,1.00,3.00,240,1

Train on an initial data using linear regression.

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
regr = linear_model.LinearRegression(fit_intercept = False)
regr.fit(x, y)

LinearRegression(fit_intercept=False)

Let's make a prediction for all x and get the predicted values (column of predictions).

In [32]:
pred=regr.predict(x)
compare =pd.DataFrame({'Prediction of NIR QY_%':pred, 'Experimental NIR QY_%':train_df['NIR QY_%'], 'Absolute difference_%': abs(pred-y)})

In [33]:
pd.options.display.float_format = '{:,.1f}'.format
variables.join(compare)

,Chemical formula,DOI,Prediction of NIR QY_%,Experimental NIR QY_%,Absolute difference_%
0,CsPbCl3:Yb,10.1039/c8tc03957g,124.3,120.1,4.2
1,CsPbCl3:Yb,10.1021/acs.nanolett.8b05104,132.6,114.0,18.6
2,CsPbCl3:Yb,10.1021/acs.nanolett.8b01066,155.7,170.0,14.3
3,CsPbCl3:Yb,10.1021/acs.nanolett.7b04575,145.4,142.7,2.7
4,CsPbCl3:Mn(2.17)/Yb,10.1002/advs.202001317,55.4,32.5,22.9
5,CsPbCl3:Mn(1.45)/Yb,10.1002/advs.202001317,61.2,64.6,3.4
6,CsPbCl3:Mn(1.3)/Yb,10.1002/advs.202001317,67.0,103.3,36.3
7,CsPbCl3:Mn(1.14)/Yb,10.1002/advs.202001317,72.8,66.3,6.5
8,CsPbCl3:Yb,10.1021/acs.jpcc.9b01296,147.3,146.0,1.3
9,CsPbCl3:Yb,10.1021/acsami.1c09421,105.7,110.0,4.3

Consider the resulting metrics: the Mean Squared Error (MSE), mean absolute error (MAE), Root Mean Squared Error (RMSE):

In [34]:
from sklearn.metrics import mean_squared_error


mse = mean_squared_error(y, pred)
mae=abs(pred-y).mean()

rmse = mean_squared_error(train_df['NIR QY_%'], pred,squared=False)

print(f'MSE {mse:.2f}')
print(f'RMSE {rmse:.2f}')
print(f'MAE {mae:.2f}')

MSE 249.28
RMSE 15.79
MAE 11.46

The coefficient of determination (R²) measures how well a statistical model predicts an outcome. The result is represented by the dependent variable of the model. The smallest possible value of R² is 0, and the maximum possible value is 1. Simply put, the better the model makes predictions, the closer its R² will be to 1.

In [35]:
r_sq = regr.score(x, y)
print('coefficient of determination:', r_sq)

coefficient of determination: 0.8443184693978709

The intercept value (free weight) shows that your model predicts the value of the function when the variables in x are all zero.

In [36]:
print('intercept:', regr.intercept_)

intercept: 0.0

Let's derive what coefficients (feature weights) are obtained for the resulting machine learning model.

In [37]:
print(regr.coef_)

[-93.4708824  289.10349777 -84.17573381   6.13607518   0.6780434
   1.38316221]

In [38]:
pd.options.display.float_format = '{:,.2f}'.format
finish =pd.DataFrame({'Variables':x.columns , 'Coefficients':regr.coef_})
finish

        Variables  Coefficients
0         Pb_mmol        -93.47
1         Yb_mmol        289.10
2         OlAm_mL        -84.18
3         OlAc_mL          6.14
4  temperature_°C          0.68
5        time_sec          1.38

Let's set random parameters for the machine learning model so that it outputs the "predicted" value of the function:

In [39]:
pred_QY = regr.predict([[0.55,0.55,1.6,1.6,240,60]])
print(pred_QY)

[228.45463393]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(